@media screen {
  html {
    scroll-behavior: smooth;
  }

  body {
    padding: 1.5rem;
    font-size: 1.35rem;
    line-height: 2.1rem;
  }

  picture:not(.qrCode) {
    position: relative;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5)) !important;
  }

  div,
  summary {
    list-style-type: none;
    // pointer-events: none;

    // *:not(time) {
    //   pointer-events: all;
    // }
  }

  time {
    pointer-events: none;
    white-space: nowrap;
  }

  .column {
    display: flex;
    flex-direction: column;
    // padding-bottom: 4.5rem;
  }

  .header {
    padding: 0 0.5rem;
    width: max-content;

    a {
      padding-left: 1rem;

      &:not(:empty):before {
        // padding-left: 2px;

        position: absolute;
        margin-left: -0.9rem;
      }
    }
  }

  .headline sub {
    margin-top: -0.3rem;
  }

  .tags {
    text-align: right;
    padding-right: 2rem;
  }

  .targetable.core:target {
    .headline,
    .underline {
      sub {
        background-color: green !important;
        border-color: green !important;
      }
    }

    .targetable {
      border-left-color: green !important;
      border-right-color: green !important;

      // pointer-events: all !important;
    }

    .header {
      a {
        // &:not(:empty):before {
        //   content: '* ';
        //   color: rgb(159, 63, 63);
        // }

        &:hover {
          text-decoration-color: rgb(159, 63, 63);
        }
      }
    }
  }

  .header a:not(:empty):before {
    content: '= ';
    opacity: 0.5;
  }

  .targetable.core .header,
  .targetable.paragraph h4 {
    a:not(:empty) {
      padding-left: 1rem;

      &:before {
        content: '= ';
        // color: #ccc;

        position: absolute;
        margin-left: -1rem;
      }
    }
  }

  .targetable.core:target .header,
  .targetable.paragraph:target h4 {
    a:not(:empty) {
      padding-left: 1rem;

      &:before {
        content: '> ';
        // color: rgb(159, 63, 63);

        position: absolute;
        // margin-left: -0.75rem;
      }
    }
  }

  .targetable.paragraph {
    &:target {
      .dates .full {
        display: inline-block;
      }

      details + .tags {
        display: block;
        padding-top: 15px;
        font-size: 0.85rem;
        // color: goldenrod;
        opacity: 0.75;
      }

      .dates .short {
        display: none;
      }
    }
  }

  .exCommon {
    padding: 0.5% !important;
    margin: 0.5% 0.8rem !important;

    border-radius: 16px;

    .exMain {
      line-height: 135%;
      width: 70%;

      h4 {
        padding-left: 8px;
      }

      & > * {
        max-width: fit-content;
      }
    }

    .exLogo {
      display: block;
      width: 60%;

      & > * {
        padding-top: 1.5rem;
        position: absolute;

        height: auto;
        width: auto;

        max-height: 4rem;
        max-width: 80%;

        z-index: -1;
        right: 1.5rem;

        object-fit: scale-down;
      }
    }
  }

  #resources .share {
    margin-left: -0.25rem;
  }

  #summary {
    margin-top: 1rem;
  }

  #locales {
    margin-top: -153px !important;
    margin-left: 33px;
    padding-bottom: 7.5rem;
    width: 99% !important;

    a sub {
      padding-left: 0.3rem;
    }

    picture {
      border: 1px solid #000;
    }
  }

  .info {
    position: relative;

    div,
    summary {
      cursor: pointer;
    }
  }

  .infoSign {
    right: 1rem;
  }

  .infoSign,
  .kwTgl {
    cursor: pointer;
    text-align: end;
    margin-top: -2rem;
    position: absolute;
  }

  .kwTgl:not(:focus) + .infoSign {
    opacity: 0.25;
    // float: right;
  }

  .kwTgl {
    width: 2rem;
    height: 2rem;
    right: 1.65rem;

    &:focus {
      z-index: -1;
    }
  }

  .kwTgl:not(:focus),
  .kwTgl:focus + .infoSign {
    z-index: 2;
  }

  // .kwTgl:not(:checked) + .keywords,
  .kwTgl:not(:focus) + .infoSign + .keywords {
    display: none;
  }

  .keywords {
    // padding: 0.5rem 2.5rem !important;
    text-align: end;
    opacity: 0.4;
    // font-size: small;
    // margin-top: -1.05rem;
    // margin: 0 1rem;
    // bottom: 0.75rem;
    // position: relative;
    // margin-top: -1.5rem;
    width: 100%;
    // margin-top: 0.5rem;
  }

  #summary td {
    max-width: fit-content;

    // &:last-child {
    //   display: flex;
    // }
  }

  @mixin animation(
    $name,
    $duration,
    $timingFunction,
    $iterationCount: 1,
    $delay: 0s,
    $direction: normal,
    $fillmode: forwards,
    $playState: running
  ) {
    // https://www.w3schools.com/cssref/css3_pr_animation.asp
    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $timingFunction;
    animation-delay: $delay;
    animation-iteration-count: $iterationCount;
    animation-direction: $direction;
    animation-fill-mode: $fillmode;
    animation-play-state: $playState;
  }

  .keyword,
  label[for] {
    cursor: pointer;
  }

  .keyword {
    color: #ddd;
  }

  .keyword:target {
    text-decoration: underline;

    &:not([title])::after {
      content: '';
    }

    &[title]::after {
      content: ' (' attr(title) ')';
    }
  }

  [data-filtered-display='false'],
  #tagsAnimated:checked ~ #badges #tagsStaticView,
  #tagsAnimated:checked ~ #badges #inProd,
  #tagsStatic:checked ~ #badges #tagsAnimatedView,
  .nodisplay {
    display: none;
  }

  #tagsStatic:checked ~ #badges label[for='tagsStatic'],
  #tagsAnimated:checked ~ #badges label[for='tagsAnimated'] {
    text-decoration: underline;
  }

  @mixin keyframes($name) {
    @keyframes #{$name} {
      @content;
    }
  }

  #tagsAnimatedView {
    display: block;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    font-size: 1.1rem;

    // &:hover tr {
    //   animation-play-state: paused;
    // }

    tr {
      transform: translate3d(0, 0, 0);
      text-align: center;

      &.exTagsRow td {
        padding: 0 5px;

        span {
          padding-left: 1rem;

          &:before {
            content: '#';
            opacity: 0.3;

            // position: absolute;
            margin-left: -0.75rem;
          }
        }
      }

      &.exPicturesRow td {
        height: 90px;
        min-width: 90px;
        padding: 0.25rem 0.75rem;
      }

      &.exYearsRow td {
        font-size: smaller;
      }

      @include keyframes(roll) {
        100% {
          transform: translateX(-66.6666%);
        }
      }

      @include animation(roll, 60s, linear, infinite);
    }
  }

  #blockquote {
    // margin-top: 1rem;
    // margin-bottom: 2rem;
    order: 0;

    &::after,
    &::before {
      font-weight: bold;
    }
  }

  [data-filtered-display='true'] {
    border-left-color: green !important;
    border-right-color: green !important;
  }

  // [data-toggleable='false'] > summary {
  //   pointer-events: none;

  //   * {
  //     pointer-events: all;
  //   }
  // }

  #faqBtn {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 3;
  }

  .faqBtnClose {
    cursor: help;

    &:not(:hover) {
      opacity: 0.05;
    }
  }
  .faqBtnOpen {
    filter: invert(1) !important;
  }

  #faqPopupToggle:not(:checked) + #faqBtn {
    .faqBtnClose {
      display: block;
    }
    .faqBtnOpen {
      display: none;
    }
  }

  #faqPopupToggle:checked + #faqBtn {
    .faqBtnClose {
      display: none;
    }
    .faqBtnOpen {
      display: block;
    }
  }

  #faqPopupToggle:checked ~ #faqPopup {
    display: block;
    position: fixed;
    right: 6rem;
    bottom: 1rem;
    width: 67rem;
    max-width: 85%;
    min-height: 4rem;
    max-height: 90%;
    background-color: #fff;
    z-index: 2;
    border-radius: 1rem;
  }

  .dates {
    // pointer-events: all;

    .exactDateDisplay:not(:checked) ~ .full,
    .exactDateDisplay:checked ~ .short {
      display: none;
    }

    .exactDateDisplay:checked ~ .full,
    .exactDateDisplay:not(:checked) ~ .short {
      display: inline-block;
    }
  }

  #tags {
    break-after: left;
    break-before: avoid;

    margin-top: -1.5rem;
    order: 6;
  }

  .padder {
    padding-left: 10px;
  }

  .qrCode {
    position: fixed;
    bottom: 2rem;
    height: 115px;
    width: 115px;
    z-index: 3;
    right: 1.5rem;
  }

  .qrCode:not(:hover) {
    display: none;
    // visibility: 0;
  }

  a:hover + .qrCode,
  // .qrHoverPad:hover + td .qrCode,
  // .qrHoverPad:hover ~ .qrCode,
  .share:focus + .qrCode,
  .qrCode:hover {
    display: inline-block !important;
    // visibility: 100;
  }

  .qrHoverPad {
    position: relative;
  }

  main[data-filtered-view='true'] {
    #blockquote,
    #resources {
      display: none;
    }

    #intro {
      order: 1;
    }

    #tags {
      order: 2;
      break-before: column;
      break-after: avoid;
    }

    #experienced {
      order: 3;
    }

    #professional,
    #teammate,
    #enthusiast,
    #educated {
      display: none;
    }
  }

  .qrCode + picture {
    border: 1px solid transparent;
  }

  .kwTgl,
  .share {
    background: transparent;
    border: 0;
    color: #ddd;
  }

  .share {
    text-align: center;

    left: 0;
    top: 0;

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    &:hover {
      box-shadow: #333;
      cursor: pointer;
    }

    &:hover + .qrCode + picture {
      border: 1px solid #ccc;
      border-style: inset;
      border-radius: 5px;
    }

    &:focus {
      border: 0;
    }

    &:focus + .qrCode + picture {
      z-index: 1;
      cursor: pointer;
    }
  }

  .sharePad {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  @-moz-document url-prefix() {
    // blockquote {
    //   margin-top: 0;
    // }

    .headline sub {
      top: 0px !important;
    }

    #locales {
      margin-top: -10rem;
      margin-left: 2rem;
    }

    .targetable.paragraph {
      padding-bottom: 1rem;
    }
  }

  // fallback for super old browsers
  body {
    color: #000;
  }

  .silent {
    color: #222;
  }

  .exCommon {
    background-image: linear-gradient(
      to left,
      rgba(118, 113, 91, 0.5),
      rgba(0, 0, 0, 0)
    );
    // border: 1px solid #ccc;
    text-shadow: 1px 1px 0px #eee;
  }

  #tagsCurrent {
    display: none;
  }
}

// fallback for Internet Explorer
@media screen\0 {
  .exLogo,
  #tags {
    display: none !important;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: #000;
  }

  .silent {
    color: #222;
  }

  .exCommon {
    background-image: linear-gradient(
      to left,
      rgba(118, 113, 91, 0.5),
      rgba(0, 0, 0, 0)
    );
    border: 1px solid #ccc;
    text-shadow: 1px 1px 0px #eee;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: #383c4a;
  }

  .silent {
    color: #ddd;
  }

  .exCommon {
    background-image: linear-gradient(
      to right,
      rgba(118, 113, 91, 0.5),
      rgba(0, 0, 0, 0)
    );
    text-shadow: 1px 1px 0px #333;
  }

  [src$='_nofilter.svg'],
  [srcset$='_nofilter.svg'] {
    filter: invert(1) !important;
  }

  [src$='.svg']:not([src$='_nofilter.svg']),
  [srcset$='.svg']:not([srcset$='_nofilter.svg']) {
    filter: brightness(0.95) contrast(1);
  }
}

@media (prefers-dark-interface) {
  body {
    color: #fff;
    background-color: #383c4a;
  }

  [src$='_nofilter.svg'],
  [srcset$='_nofilter.svg'] {
    filter: invert(1);
  }

  [src$='.svg']:not([src$='_nofilter.svg']),
  [srcset$='.svg']:not([srcset$='_nofilter.svg']) {
    filter: brightness(0.95) contrast(1);
  }
}

@media (inverted-colors: inverted) {
  body {
    color: #fff;
    background-color: #383c4a;
  }

  [src$='_nofilter.svg'],
  [srcset$='_nofilter.svg'] {
    filter: invert(1);
  }

  [src$='.svg']:not([src$='_nofilter.svg']),
  [srcset$='.svg']:not([srcset$='_nofilter.svg']) {
    filter: brightness(0.95) contrast(1);
  }
}
