/*\:root {
  --unfiltered-display-max-items: 4;
}*/

// max history items to display when no filter is applied

.paragraph:not([data-filtered-display='true']) {
  display: none;
}

.paragraph:not([data-filtered-display]):nth-of-type(-n + 4) {
  display: block;

  ~ .paragraph:not([data-filtered-display]) {
    border-top: 2px solid #ccc;
  }
}

.paragraph[data-filtered-display='true']
  ~ .paragraph[data-filtered-display='true'] {
  border-top: 2px solid #ccc;
}

* {
  margin: 0;
  padding: 0;
}

/**:not(li) > ul {
  // list-style-position: inside;
}*/

body,
html {
  min-width: 720px;
  min-height: 720px;
}

:not(li) > a {
  white-space: nowrap;
}

a:not(:hover) {
  text-decoration: none;
}

a:not(.black):not(.silent)[href] {
  color: #3f9f3f;
}

.header {
  text-transform: uppercase;
  font-size: 111%;
}

.separator:last-of-type {
  display: none;
}

.paragraph > *:not(.keywords) {
  padding: 0.5rem 2rem 0 1.65rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

#tags {
  display: list-item;
  list-style-type: none;
  margin-bottom: 0;

  .targetable {
    border: 0;

    ul {
      list-style-type: none;
    }
  }
}

#dateGen {
  break-before: avoid !important;
  page-break-after: always;
  text-align: right;
  order: 8;
  padding: 0.5rem 1rem;
}

h1,
h2 {
  padding-top: 1.1rem;
  text-align: center;
}

// h4 {
//   padding-left: 8px;
// }

hr {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

section {
  break-inside: avoid;
  padding: 0 0.5rem;
  // margin-bottom: 0;
  padding-top: 2rem !important;
}

.info {
  margin-top: 0.5rem;
}

.exInfo {
  list-style-position: outside;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.exInfo + .exInfo {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.exCommon ~ .info .exInfo {
  padding-left: 2rem !important;
  padding-right: 1.75rem;
}

:not(.exCommon) ~ .exInfo {
  padding-left: 3rem !important;
}

table {
  border-spacing: 0;
  // position: relative;
  width: 100%;
}

#intro picture:not(.qrCode) {
  display: inline-flex;
}

#summary tr td:last-child {
  text-align: left;
  // vertical-align: top;
}

#intro tbody {
  display: inline-block;
}

ul > li > ul > li {
  margin-left: 15px;
  list-style-position: outside;
}

#name,
#specialty {
  font-weight: normal;
}

#specialty {
  padding-top: 0.6rem;
  text-decoration: overline;
  opacity: 0.7;
}

#blockquote {
  opacity: 0.7;

  display: block;
  break-after: avoid;
  font-style: oblique;
  text-align: center;

  font-weight: normal;
  font-size: 111%;

  &::after,
  &::before {
    font-size: 1.85em;
    margin-left: -0.5rem;
  }

  &::before {
    content: '“ ';
  }

  &::after {
    content: ' ”';
  }

  u {
    text-decoration-style: dotted;
  }
}

.blockHeader {
  display: flex;
  margin-bottom: -1.2rem;

  .header,
  .headline {
    display: table-cell;
  }

  .header {
    color: #ccc;
    font-weight: normal;
    break-after: avoid;
    white-space: nowrap;
    font-style: italic;
    margin-top: -1.35rem;
  }
}

.headline sub {
  width: 101%;
  margin-left: 0.35%;
}

.underline sub {
  display: flex;
  width: 100.75%;
  margin-left: 0.5%;
  margin-top: -0.3rem;
}

.headline,
.underline {
  width: 100%;

  sub {
    border-color: #ccc;
    background-color: #ccc;
    border-style: solid;
    border-width: 1px;
    display: block;
    height: 0;
    position: relative;
    right: 1%;
  }
}

.dates,
.header {
  color: #aaa;
  font-weight: bold;
  font-style: italic;
  font-size: 0.8em;
}

.targetable.paragraph {
  border-style: solid;
  border-width: 0 2px;
  border-color: #ccc;
  padding: 1rem 0.25rem;
}

.exCommon {
  display: flex;
  justify-content: space-between;
}

.exCompany {
  font-size: 0.9em;
  margin-left: 0.15rem;
  min-width: 110px;
}

.exCommon + hr {
  margin: 3%;
  width: 95%;
}

.exLocation {
  font-size: 0.9em;
  margin-left: -0.65rem;
}

.header {
  margin-top: -1.6rem;
}

.underline {
  margin-bottom: 1rem;
}

.padder {
  padding-left: 10px;
}

details > ul ~ ul {
  margin-top: -1rem;
}

#avatar {
  height: auto;
  width: 90%;
  max-width: 240px;
  border-radius: 50%;
  border: 1px solid #999;
  z-index: 1;

  img,
  source {
    border-radius: 50%;
    // width: 240px;
  }
}

#intro {
  // margin-top: 1rem;
  text-align: center;

  h2 {
    font-size: 2em;
  }

  table {
    width: 100%;
  }

  // #keyFacts {
  //   .char {
  //     position: absolute;
  //     &:last-of-type {
  //       display: none;
  //     }
  //   }
  //   $step: 5;
  //   @for $i from 0 through 40 {
  //     .char:nth-child(#{$i + 1}) {
  //       transform: rotate(90 - $i * $step + deg);
  //       margin-top: 1 * $i + rem;
  //     }
  //   }
  // }

  #locales {
    tbody {
      tr {
        position: absolute;
        transform-origin: left;
        padding-top: 2px;

        &:nth-child(1) {
          transform: rotate(2deg);
        }

        &:nth-child(2) {
          transform: rotate(20deg);
        }

        &:nth-child(3) {
          transform: rotate(38deg);
        }

        &:nth-child(4) {
          transform: rotate(56deg);
        }
      }
    }

    thead tr td {
      border-bottom: 2px solid #ccc;
      padding-bottom: 0.2rem;
      margin-bottom: 0.2rem;
    }

    tr {
      display: inline-block;

      td:first-child {
        padding-left: 85px;
      }

      // td:not(:first-child) {
      //   padding: 0 10px;
      // }

      picture {
        margin-left: 15px;

        .locale {
          height: 20px;
          background-color: #fff;
          display: table-column;
        }
      }
    }

    .langNative {
      font-weight: bold;
    }
  }

  #summary {
    // margin-top: 1.6rem;

    tr td:first-child {
      // text-align: left;

      picture:not(.qrCode) img {
        width: 40px;
        height: 40px;
      }
    }

    a span {
      font-weight: bold;
    }
  }
}

#resources {
  break-inside: avoid;
  padding-top: 1.5rem;
  padding-left: 0.85rem;
  border: 0;
  text-align: left;
  order: 7;

  td:first-child {
    width: 50px;
    height: 50px;
  }
}

#professional {
  break-before: recto;
  padding-top: 0.72rem;
}

.black {
  color: #000;
}

.dates {
  white-space: nowrap;
  padding-left: 8px;
}

section .paragraph {
  // padding-top: 23px;

  div:not(.exCommon):not(.keywords) {
    padding: 0 1rem;
  }
}

// .knowledge .section div {
//   padding-left: 10px;
// }

.full,
.hidden {
  display: none;
}

#badges {
  position: relative;
  width: 100%;
  break-inside: avoid;
  // border: 1px solid;
  // border-radius: 15px;
  padding: 2px;

  .caption {
    width: 100%;
    position: relative;
    display: block;
    padding-bottom: 0.2rem;
    // margin-bottom: 0.4rem;
    // border-bottom: 1px solid;
    text-align: left;
  }

  h5,
  table {
    &#tagsStaticView {
      // font-size: 0.9rem;
      font-weight: normal;
      padding: 0 0.4rem;
      text-align: left;
    }
  }
}

#badges h5,
#badges table,
#tagsCurrent {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  // min-width: fit-content;
  max-width: 100%;

  border: 2px solid #ccc;
  border-radius: 8px;

  caption-side: bottom;
  text-align: center;
}

#inProd,
#locales sub {
  font-style: italic;
  // opacity: 0.5;
}

#locales sub {
  font-size: 0.6em;
  margin-top: 1.5em;
  margin-left: -0.5em;
  position: absolute;
}
