@media (max-width: 1300px) {
  section {
    padding-top: 1.5rem !important;
  }

  .exLogo > * {
    max-width: 275px;
  }

  #teammate {
    order: 2;
  }

  #educated {
    order: 3;
  }

  #enthusiast {
    order: 4;
  }

  #blockquote {
    order: -1;
  }

  #intro {
    order: -2;
  }

  #dateGen {
    text-align: left;
  }
}
