@media (min-width: 2812px) {
  body {
    column-width: 654px;
  }

  #avatar {
    width: auto;
    max-height: 30%;
  }

  #professional {
    order: 1;
  }

  #experienced {
    order: 2;
  }

  #teammate {
    order: 5;
    break-before: column;
  }

  #educated {
    order: 4;
    break-after: always;
  }

  #enthusiast {
    order: 5;
  }

  #tags {
    order: 6;
  }

  #resources {
    order: 6;
  }

  @-moz-document url-prefix() {
    // #professional,
    // #educated,
    // #intro {
    //   height: 80rem;
    // }

    #locales {
      padding-top: 0.5rem;
    }

    #teammate {
      margin-bottom: -1.5rem;

      .underline {
        display: none;
      }
    }
  }
}
