@page {
  size: A4;
}

// @media print ...

@page {
  margin: 0;
  padding-top: 15px;
  size: landscape;
}

#avatar {
  height: 200px;
  width: 200px;

  img,
  source {
    height: 200px;
    width: 200px;
  }
}

#dateGen,
#resources,
section {
  position: relative;
  display: block;
}

body {
  font-size: 0.95rem;
  line-height: 1.45rem;
  padding: 0 20px;

  // columns: 2;
}

.column {
  padding: 20px;
  // page-break-after: always;
  columns: 2;
}

img {
  height: 100%;
}

.blockHeader {
  display: block;

  .header {
    padding: 0 12px;
  }
}

.exLogo {
  margin-top: 15px;
  margin-right: 5px;

  img {
    max-height: 50px;
    max-width: 180px;
    width: auto;
  }
}

.exInfo {
  margin-left: -1rem;
  width: 90%;
}

// details {
//   padding: 15px;
//   padding-top: 20px;
//   padding-bottom: 20px;
// }

.exCommon {
  padding-left: 0 !important;
  line-height: 1.3rem;
}

.exMain {
  h4 {
    margin-left: 7px;
  }
}

.locale img {
  border: 1px solid #333;
}

// .targetable:not(:last-of-type) {
//   padding-bottom: 0;
// }

.silent {
  color: #222;
}

.headline {
  padding-bottom: 0.6rem;

  sub {
    margin-top: -0.4rem;
  }
}

#blockquote {
  right: 16%;
  width: 21%;
  margin-top: -9.5rem;
  position: absolute;
}

#educated .exLogo {
  position: relative;
  right: 6%;
  top: 6px;
}

#intro {
  margin-top: 1.3rem;

  #summary {
    margin-top: 2.2rem;
    line-height: 1.2rem;

    img {
      width: 30px !important;
      height: 30px !important;
    }
  }

  #locales {
    margin-top: -8.7rem;
    margin-left: 0.5rem;
    padding-bottom: 6rem;

    a sub {
      padding-top: 3px;
    }

    img {
      // width: 33px;
      height: 22px;
    }

    tbody {
      padding-top: 0.5rem;
    }
  }
}

#resources {
  margin: 1rem 0;
  padding-top: 2rem;
  width: 50%;
  left: 25%;

  picture {
    padding: 0;
  }

  img {
    width: 30px;
  }

  td:first-child {
    height: 30px;
  }

  .qrCode:not(.noprint) {
    display: block;
    position: absolute;
    bottom: -3.5rem;
    z-index: 1;

    * {
      width: 115px;
      height: 115px;
    }
  }

  .padder a,
  .padder span,
  .linkIcon {
    display: block;
    position: absolute;
  }

  .linkIcon {
    bottom: -3.5rem;
  }

  .padder {
    a {
      bottom: -5rem;
    }

    span {
      top: 0;
    }
  }
}

#tagsCurrent {
  padding: 1rem 0.5rem 0.7rem 0.5rem;
  opacity: 0.75;
  width: 98%;
  margin: 1.5rem 1% 0;

  caption {
    font-size: 0.75rem;
    font-style: italic;
    margin: -0.1rem 0.7rem 0 0;
    text-align: right;
  }

  picture * {
    height: 55px;
  }
}

#certificates {
  .padder a,
  .padder span,
  .qrCode {
    left: -7.5rem;
  }

  .linkIcon {
    left: 0.5rem;
  }
}

#thisPage {
  .padder a,
  .padder span,
  .qrCode {
    right: -7.5rem;
  }

  .linkIcon {
    right: 0.5rem;
  }
}

// #badges,
.inProd,
.noprint,
.tags,
#tagsAnimatedView {
  display: none;
}

#tags {
  margin-top: -0.2rem;
}

#tagsStaticView {
  font-weight: normal;
  text-align: left;
  line-height: 1.4rem;
}

.paragraph.targetable {
  border-top: 0;
  border-bottom: 0;
  border-color: #ccc !important;
}

// #enthusiast {
//   margin-left: -102.5%;
//   margin-right: 102.5%;
//   margin-top: -26%;
// }

// #teammate {
//   margin-top: -0.5rem;
// }

.qrCode {
  display: none;
}

section {
  padding-top: 0.2rem !important;
  background-color: #fff;
}

#dateGen {
  margin-top: 5.75rem;
}

// all the rest is taken from common.scss
