include _labelDate

mixin blckDates(dates, d_locale, id)
    unless ('end' in dates)
        - dates['end'] = ''
    label.dates(data-duration = dates['start'] + ',' + ('end' in dates ? dates['end'] : ''), for = `toggleExactDate_${id}`)
        input.exactDateDisplay.hidden(id = `toggleExactDate_${id}`, type = 'checkbox')
        - if (dates['end'] === '')
            span.short
                | #{`${d_locale['s_00'].trim()}:`}
                wbr
                | !{'&nbsp;'}
            time.short(datetime = dates['start'])
                +labelDate(dates['start'], d_locale)
            span.full
                | #{d_locale['s_since_pre']}
                +labelDate(dates['start'], d_locale, true)
                | #{d_locale['s_since_post']}
        - else
            time.short(datetime = dates['start'])
                +labelDate(dates['start'], d_locale)
            span.short
                | #{' '}
                wbr
            span.full
                | #{d_locale['s_since_pre']}
                +labelDate(dates['start'], d_locale, true)
                | #{d_locale['s_since_post']}
                | !{'&nbsp;'}
            span.short !{' &rarr;&nbsp; '}
            //- | !{'&nbsp;'}
            if (dates['end'] !== '')
                time.short(datetime = dates['end'])
                    +labelDate(dates['end'], d_locale)
                span.full
                    | #{d_locale['s_until_pre']}
                    +labelDate(dates['end'], d_locale, true)
                    | #{d_locale['s_until_post']}
