include _listSimple
include _listItemsLinked
include _listLeveled

mixin blckDetailsInfo(item)
    if ('details' in item)
        - const details = item['details']
        if ('list_simple' in details)
            +listSimple(details['list_simple'], 'exInfo')
        if ('list_linked' in details)
            ul.exInfo
                +listItemsLinked(details['list_linked'])
        if ('list_leveled' in details)
            +listLeveled(details['list_leveled'], 'exInfo')
