include _blckDates
include _blckPicture

mixin internal_summary(item, date_locales)
    - const summary = 'summary' in item ? item['summary'] : undefined
    - const resource = summary ? summary['resource'] : undefined

    if (summary)
        if ('header' in summary)
            h4
                a.silent(href = '#' + item['_id'])
                    | #{summary['header']}
        if ('assignment' in summary)
            .exCommon
                .exMain
                    h4
                        a.silent(href = '#' + item['_id'])
                            | #{summary['assignment']}
                    if (date_locales)
                        +blckDates(summary['dates'], date_locales, item['_id'])
                    .exCompany
                        if ('location' in summary)
                            span.exLocation #{summary['location']}
                            | !{pipe}
                        +itemLink(resource, item['_id'])
                if (resource)
                    +blckPicture(resource['picture'], 90, 90, ['svg'], resource['alt'], 'eager', undefined, 'exLogo')


mixin blckDetailsSummary(item, date_locales, toggleable = false)
    if (toggleable)
        //- summary
        div
            +internal_summary(item, date_locales)
    else
        //- summary
        +internal_summary(item, date_locales)
