include _listItemsLinked

mixin blckResources(resourceList, pdfResource)
    table#resources.core.targetable
        +listItemsLinked(resourceList, true)
        +listItemsLinked([pdfResource], true, 'noprint')
