include _itemsPic

mixin blckPicture(resource, width = 40, height = 40, fileFormats = 'svg', alt = '', loading = 'lazy', id = undefined, wrapperClassName = undefined, className = undefined)
    picture(id = id, class = wrapperClassName)
        +itemsPic(resource, width, height, fileFormats, alt, loading, className)
