mixin itemsPic(resource, width = 40, height = 40, fileFormats = 'svg', alt = undefined, loading = undefined, className = undefined)
    if (typeof resource === "string")
        - key = resource
    else
        if (alt == undefined)
            - alt = 'alt' in resource ? resource['alt'] : undefined
        if (className == undefined)
            - className = 'class' in resource ? resource['class'] : undefined

    if (alt == undefined)
        - alt = key

    if (!Array.isArray(fileFormats))
        - fileFormats = fileFormats.split()

    if (fileFormats.includes('svg'))
        source(srcset = `./images/${key}.svg`, type = 'image/svg+xml', width = width, height = height, class = className)

    if (fileFormats.includes('webp'))
        source(srcset = `./images/${key}.webp`, type = 'image/webp', width = width, height = height, class = className)

    //- if (fileFormats.includes('jpg'))
    //-     source(srcset = `./images/${key}.jpg`, type = 'image/webp', width = width, height = height)

    if (fileFormats.includes('jpg'))
        img(src = `./images/${key}.jpg`, width = width, height = height, alt = alt, class = className, loading = loading)

    if (fileFormats.includes('svg'))
        img(src = `./images/${key}.svg`, width = width, height = height, alt = alt, class = className, loading = loading)
