mixin labelKeywords(keywords, tags)
    - let i = keywords.length
    each k in keywords
        - const duration = tags[k].join(' ')
        - const link = `#${k}`
        //- a.keyword.silent(data-duration=duration, href=link, id=k)
        a.keyword.silent(href = link, id = k)
            | #{k}
        - i -= 1
        if i > 0
            | #{', '}
