mixin labelDate(date, d_locale, full = false)
    - const date_parts = date.split('-')
    if (full && date_parts.length > 2)
        | #{parseInt(date_parts[2])}
        | #{' '}
    | #{d_locale[`m_${date_parts[1]}${full ? 'f' : 's'}`]}
    | #{' '}
    | #{date_parts[0]}
