include _blckQrCode
include _itemLink
include _blckPicture

mixin linkIconic(resource, width, height, wrapperClassName = undefined, pictureClassName = undefined, wrapperId = undefined)
    - const customClassName = 'class' in resource ? resource['class'] : wrapperClassName
    - const dataHref = 'data-href' in resource ? resource['data-href'] : undefined

    tr(class = customClassName, data-href = dataHref, id = wrapperId)
        td(class = `${'make_qr' in resource ? 'qrHoverPad' : ''}`)
            //- - let pictureClassName = 'class' in resource && resource['class']

            if ('link' in resource && 'make_qr' in resource && resource['make_qr'])
                - let id = '_id' in resource && resource['_id']
                - let title = 'title' in resource && resource['title']
                - let label = 'label' in resource ? resource['label'].replace(/<\/?[^>]+(>|$)/g, "") : title
                input.share.noprint(id = 'svg' + '_' + MD5(resource['link']), data-link = resource['link'], data-title = title, aria-label = label, readonly = 'readonly', size = '1')
                +blckQrCode(resource)

            - const defaultPictureClasses = ['linkIcon']
            - const customPictureClasses = defaultPictureClasses.concat(pictureClassName === undefined ? [] : pictureClassName).join(' ')
            +blckPicture(resource['picture'], width,  height, ['svg'], resource['alt'], 'eager', undefined, customPictureClasses)
        //- td.padder
        //-     div
        td.padder
            if ('title' in resource)
                span(class = `${'make_qr' in resource ? 'qrHoverPad' : ''}`) #{`${resource['title'].trim()}: `}
            +itemLink(resource)
