include _labelAndVisibleUrlItem
include _linkIconic

mixin listItemsLinked(listItems, iconic = undefined, extraWrapperClass = undefined, wrapperId = undefined)
    each l_item in listItems
        - resource = l_item['resource']
        - wrapperClasses = [('wclass' in resource ? resource['wclass'] : undefined), extraWrapperClass].join(' ')
        - id = ('wid' in resource ? resource['wid'] : wrapperId)

        if (iconic)
            +linkIconic(resource, 40, 40, wrapperClasses, undefined, id)
        else
            li(class = wrapperClasses, id = id)
                +labelAndVisibleUrlItem(l_item)
