include _blckPicture

mixin zFAQ(lang)
    input#faqPopupToggle.nodisplay.noprint(type = 'checkbox')
    label#faqBtn.faqBtn.noprint(for = 'faqPopupToggle')
        +blckPicture('misc/faq_nofilter', 90, 90, ['svg'], 'lazy', 'open', 'faqBtnOpen')
        +blckPicture('misc/faq_nofilter', 90, 90, ['svg'], 'lazy', 'close', 'faqBtnClose')
    iframe#faqPopup.nodisplay.noprint(src = `./faq/${lang}.html`, sandbox = "allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-top-navigation")
